// color palette for project

// $product-primary-color: #000000;
// $product-secondary-color: #1067eb;
// $product-tertiary-color: #72f5e5;
// $product-neutral-color: #ffffff;
// $product-background-color: #e5e5e5;

// colors and shades

// Accents
$accent-color-green-900: #25351c;
$accent-color-green-800: #38502a;
$accent-color-green-700: #4b6b38;
$accent-color-green-600: #5e8346;
$accent-color-green: #7aab5f;
$accent-color-green-400: #91b797;
$accent-color-green-300: #a7c794;
$accent-color-green-200: #bdd5af;
$accent-color-green-100: #d3eeca;

$accent-color-red: rgb(255, 87, 71);

// Primary
$primary-color-900: #050b10;
$primary-color-800: #0d1f2d;
$primary-color-700: #1c425f;
$primary-color-600: #25587e;
$primary-color: #2e6d9e;
$primary-color-400: #3783be;
$primary-color-300: #5197cd;
$primary-color-200: #71aad6;
$primary-color-100: #90bddf;

// Greys
$grey-color-900: #494e5a;
$grey-color-800: #5c6270;
$grey-color-700: #6e7587;
$grey-color-600: #848a9a;
$grey-color: #9a9fac;
$grey-color-400: #b0b5bf;
$grey-color-300: #c7cad1;
$grey-color-200: #dddfe3;
$grey-color-100: #f4f4f6;
