@import "../../../assets/css/index.scss";

.landing-wrapper {
  position: fixed;
  width: 100%;
  background-color: $grey-color-100;
  min-height: 100vh;

  .landing-container {
    // color: $grey-color-900;

    .logo-holder {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      h1 {
        color: $primary-color-900;
      }
    }

    .company-description-holder {
      position: fixed;
      left: 50%;
      bottom: 2%;
      transform: translate(-50%, -2%);

      span {
        text-align: center;
        display: inline-block;
        width: 100%;
        &:nth-child(1) {
          margin-bottom: $spacing-5;
        }
        &:nth-child(2) {
          font-size: $font-size-5;
          font-weight: $heavy-font-weight;
          text-transform: uppercase;
          letter-spacing: $wide-letter-spacing;
          color: $grey-color-100;
        }
      }
    }
  }
}
